@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #36BFB1, #038C73);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #013b319a;
    width: 600px;
    padding: 10px;
    margin: auto;
} 

h2{
    color: #296979;
}

h1 {
    color: #02735E;
    text-align: center;
    text-shadow: 1px 1px 2px #01362c; 
}

p {
  text-align: justify; 
}